<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../home.js"></script>
</head>
<body>
<div>
<form id="upload-file-form" style="position: absolute;top: 30%;left: 40%;margin-top: -50px;margin-left: -50px; width: 400px;height: 300px;">
    <label for="upload-file-input">Загрузите xml файл:</label>
    <input class="form-control btn btn-info" id="upload-file-input" type="file" name="uploadfile" accept="text/xml" style=" margin: 0 auto;"/>
    <a href="/index" class="btn btn-success" style="margin-top: 10px;margin-left: 40%;">Далее</a>
</form>

</div>
</body>
</html>